body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.header-container {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
}

.container {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.btn {
    text-decoration: none;
    padding: 8px 15px;
    background: black;
    color: white;
    border-radius: 5px;
    margin: 5px;
}

.btn-danger {
    background: red;
}
