<!-- SECCIÓN CONTACTOS -->
<section id="contactos">
    <h2>Hanami</h2>
    <img class="logoFooter" src="assets/icons/instagram (1).png" alt="iconoInstagram">
    <img class="logoFooter" src="assets/icons/facebook.png" alt="iconoFacebook">
    <img class="logoFooter" src="assets/icons/twitter.png" alt="iconoTwitter">
    <img class="logoFooter" src="assets/icons/youtube.png" alt="iconoYouTube">
    <p id="tituloRestauranteContactos">RESTAURANTE</p>
    <p id="localizacionContactos">
        <samp>Localización</samp><br>
        Chapinero <br>
        Bogotá D.C.
    </p>
    <p id="info_contactos">
        <samp>Contáctanos</samp><br>
        +57 111 222 333 <br>
        {{ 'Contáctanos en hanamiSushi' }}&#64;{{ 'example.com' }}
    </p>
</section>

<img id="imagenSeccionContactos" src="assets/Images/dondoContactos2.jpg" alt="imagencontactos">

<!-- FOOTER -->
<footer>
    <p> copyright &copy; 2025 Hanami</p>
</footer>
